<div class="searchBar">
    <div class="container">
        <form action="/search" class="search__form" role="search" method="POST">
            <input
            type="search"
            aria-label="Search" 
            id="searchInput"
            name="searchTerm"
            placeholder="Search your site...">
        </form>
    </div>
    <div id="searchClose">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="currentColor" d="M19.59 4.59L12 12.17 4.41 4.59 3 6l7.59 7.59L3 21.17l1.41 1.41L12 15l7.59 7.59L21 21.17l-7.59-7.59L21 6l-1.41-1.41z"/>
          </svg>
    </div>
</div>